BimLibrarySample/BimLibrarySample/Service References/BimLibraryService/BIMservice7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
  <xs:complexType name="Model3D">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Model3DBinary" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="SeoFilename" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Model3D" nillable="true" type="tns:Model3D" />
  <xs:complexType name="Picture">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Core" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PictureBinary" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="SeoFilename" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
</xs:schema>