BimLibrarySample/BimLibrarySample/Service References/BimLibraryService/BIMservice9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Customers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" />
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="AdminComment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AffiliateId" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" minOccurs="0" name="BillingAddress" nillable="true" type="q2:Address" />
          <xs:element minOccurs="0" name="CreatedOnUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CustomerGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasShoppingCartItems" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSystemAccount" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTaxExempt" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastActivityDateUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastIpAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastLoginDateUtc" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordFormat" type="tns:PasswordFormat" />
          <xs:element minOccurs="0" name="PasswordFormatId" type="xs:int" />
          <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" minOccurs="0" name="ShippingAddress" nillable="true" type="q3:Address" />
          <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:simpleType name="PasswordFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clear" />
      <xs:enumeration value="Hashed" />
      <xs:enumeration value="Encrypted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PasswordFormat" nillable="true" type="tns:PasswordFormat" />
  <xs:complexType name="CustomerRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Nop.Core" base="q4:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="FreeShipping" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSystemRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchasedWithProductId" type="xs:int" />
          <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxExempt" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerRole" nillable="true" type="tns:CustomerRole" />
</xs:schema>