BimLibrarySample/BimLibrarySample/Service References/BimLibraryService/BIMservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BIMservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Catalog" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Discounts" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Media" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Customers" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" />
      <xsd:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Shipping" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBIMservice_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBIMservice_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBIMservice_GetProductByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByName" />
  </wsdl:message>
  <wsdl:message name="IBIMservice_GetProductByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBIMservice_GetAllCategoriesByParentCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesByParentCategoryId" />
  </wsdl:message>
  <wsdl:message name="IBIMservice_GetAllCategoriesByParentCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesByParentCategoryIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBIMservice">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBIMservice/DoWork" message="tns:IBIMservice_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBIMservice/DoWorkResponse" message="tns:IBIMservice_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBIMservice/GetProductByName" message="tns:IBIMservice_GetProductByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBIMservice/GetProductByNameResponse" message="tns:IBIMservice_GetProductByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategoriesByParentCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBIMservice/GetAllCategoriesByParentCategoryId" message="tns:IBIMservice_GetAllCategoriesByParentCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBIMservice/GetAllCategoriesByParentCategoryIdResponse" message="tns:IBIMservice_GetAllCategoriesByParentCategoryId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBIMservice" type="tns:IBIMservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBIMservice/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <soap:operation soapAction="http://tempuri.org/IBIMservice/GetProductByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategoriesByParentCategoryId">
      <soap:operation soapAction="http://tempuri.org/IBIMservice/GetAllCategoriesByParentCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIMservice">
    <wsdl:port name="BasicHttpBinding_IBIMservice" binding="tns:BasicHttpBinding_IBIMservice">
      <soap:address location="http://www.narodni-bim-knihovna.cz/BIMservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>