BimLibraryServiceTests/Service References/BimLibraryService/BIMservice4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" />
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" minOccurs="0" name="Country" nillable="true" type="q2:Country" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedOnUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CustomAttributes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" minOccurs="0" name="StateProvince" nillable="true" type="q3:StateProvince" />
          <xs:element minOccurs="0" name="StateProvinceId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZipPostalCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>