BimLibraryServiceTests/Service References/BimLibraryService/BIMservice41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Directory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllowsBilling" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowsShipping" type="xs:boolean" />
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
          <xs:element minOccurs="0" name="LimitedToStores" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumericIsoCode" type="xs:int" />
          <xs:element minOccurs="0" name="Published" type="xs:boolean" />
          <xs:element minOccurs="0" name="SubjectToVat" type="xs:boolean" />
          <xs:element minOccurs="0" name="ThreeLetterIsoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TwoLetterIsoCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="StateProvince">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Core" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Published" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StateProvince" nillable="true" type="tns:StateProvince" />
</xs:schema>