BimLibraryAddin/Service References/BimLibraryService/BIMservice48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Discounts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Discounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Catalog" />
  <xs:import schemaLocation="http://www.narodni-bim-knihovna.cz/BIMservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Nop.Core" />
  <xs:complexType name="ArrayOfDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discount" nillable="true" type="tns:Discount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscount" nillable="true" type="tns:ArrayOfDiscount" />
  <xs:complexType name="Discount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Nop.Core" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Catalog" name="_appliedToCategories" nillable="true" type="q2:ArrayOfCategory" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nop.Core.Domain.Catalog" name="_appliedToProducts" nillable="true" type="q3:ArrayOfProduct" />
          <xs:element name="_discountRequirements" nillable="true" type="tns:ArrayOfDiscountRequirement" />
          <xs:element name="_x003C_CouponCode_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_DiscountAmount_x003E_k__BackingField" type="xs:decimal" />
          <xs:element name="_x003C_DiscountLimitationId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_DiscountPercentage_x003E_k__BackingField" type="xs:decimal" />
          <xs:element name="_x003C_DiscountTypeId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_EndDateUtc_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
          <xs:element name="_x003C_LimitationTimes_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_MaximumDiscountedQuantity_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_RequiresCouponCode_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_StartDateUtc_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
          <xs:element name="_x003C_UsePercentage_x003E_k__BackingField" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Discount" nillable="true" type="tns:Discount" />
  <xs:complexType name="ArrayOfDiscountRequirement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiscountRequirement" nillable="true" type="tns:DiscountRequirement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscountRequirement" nillable="true" type="tns:ArrayOfDiscountRequirement" />
  <xs:complexType name="DiscountRequirement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Nop.Core" base="q4:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Discount" nillable="true" type="tns:Discount" />
          <xs:element minOccurs="0" name="DiscountId" type="xs:int" />
          <xs:element minOccurs="0" name="DiscountRequirementRuleSystemName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscountRequirement" nillable="true" type="tns:DiscountRequirement" />
</xs:schema>